.maincont {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;


}
.header {
    text-align: center;
}
.footer {
    text-align: center;
}
.box1 {
    background-color: coral;
    width: 300px;
    height: 650px;
    border: 2px solid black;
    margin-bottom: 50px;
    margin-left: 10px;

}
.box2 {
    margin-left: 30px;
    background-color: dodgerblue;
    border: 2px solid black;
    height: 550px;
    width: fit-content;
    flex-grow: 2;

}