.bodyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mainContainer {
    font-family: 'Noto Sans JP', sans-serif;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    margin:30px;
    max-width: 1000px;
    padding: 15px;
    background-color: #f4f6f6;
    height: 80vh;
    overflow: auto;
    border: 5px solid #3a4750;
}
.workoutImg img {
    width: 100%;
    height: 100%;
}
.healthImg img {
    width: 100%;
    height: 100%;
}
.climbImg img {
    width: 100%;
    height: 100%;
}
.header {
    text-align: center;
}
.workoutImg{
    margin-top: 20px;
    border: 2px solid #ff0000;
}
.speal h4 {
    margin-bottom: 0;
}
.speal h3 {
    margin-top: 0;
    text-align: end;
}
.speal2 {
    margin-top: 50px;
    padding-left: 20px;
    text-align: center;
}
.healthImg {
    border: 2px solid #ff0000;
    grid-column: 1/3;
}
.speal3 {
    grid-column: 1/3;
    text-align: center;
}
.climbImg {
    grid-column: 1/3;
    border: 2px solid #ff0000;
}
.finalSpeal {
    grid-column: 1/3;
    text-align: center;
}