.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #f5f5f5;

}
.bodyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.linksContainer{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-items: center;
    justify-content: center;
    overflow: auto;
    gap: 10px;
    width: 90vw;
    height: 70vh;
    margin: 30px;
    padding-top: 15px;
    background-color: white;
    border: 2px 0 0 2px solid #383838;
    border-radius: 15px;
    box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Merienda', cursive;
    background-color: #757a7975;
    font-size: 20px;
    text-decoration: underline;
    width: 100%;
    height: 80px;
    text-align: center;
    margin-top: 25px;
    border: 1px solid black;
    border-radius: 20px 20px 0 0;
    box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.headingBody {
    text-align: center;
    font-family: 'Assistant', sans-serif;
    font-size: 15px;
    margin-bottom: 0;
}
img {
    width: 250px;
    height: 250px;
}
.link:hover{
    border-radius: 1px 20px 1px;
    background-color: #c1c0b9;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}
@media (max-width: 525px) {
    .linksContainer {
        display: grid;
        grid-template-columns: auto;
    }

}