.mainContainer {
    background-image: linear-gradient(#ececec, #455d7a );
    height: 100vh;
    margin: 0px;
}
h1{
    font-family: Andale Mono, monospace;
    margin: 0;
}
.header {
    border-bottom: 5px solid #00204a;
    padding-bottom: 10px;
}
#med {
    color: #233142;
    background-color: #c24d2c;
    width: fit-content;
    border: solid #c24d2c;
    border-left: 10px solid #233142;
    border-top:  10px solid #233142;;
    border-radius: 10px;
}
#que {
    color: #c24d2c;
    background-color: #233142;
    width: fit-content;
    margin-left: 20px;
    border: solid #233142;
    border-right: 10px solid #c24d2c;
    border-bottom: 10px solid #c24d2c;
    border-radius: 10px;
}
.userArea {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 5px solid #00204a;

}
.searchButton {
    height: 35px;
    width: 75px;
    background: #c24d2c;
    border: 2px solid #c24d2c;
    border-radius: 4px 0 0 4px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 115%;
    color: white;
}
.searchButton:hover {
    color: #c24d2c;
    background: white;
}
.search {
    width: 210px;
    padding-left: 10px;
    border: 2px solid #c24d2c;
    border-left: none;
    border-radius: 0 4px 4px 0;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: #c24d2c;
    outline: none;
}
.search:click {
    border: 2px solid #c24d2c;
}
.movieContainer {
    display: grid;
    grid-template-columns: repeat(5, 250px);
    grid-template-rows: auto;
    background: transparent;
    justify-content: center;
    max-height: 700px;
    overflow: auto;
    column-gap: 15px;
    row-gap: 15px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
img {
    height: 250px;
    width: 200px;
    padding-left: 5px;
    padding-right: 5px;
}
h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #233142;
    text-decoration: underline;

}
h5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #233142;
}
.moviePlaq {
    text-align: center;
    background-color: #ffffff;
    border: 3px solid #c24d2c;
    border-radius: 10px;
}
.moviePlaq:hover {
    filter: grayscale();
    background-color: #c1c0b9;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}
@media screen and (max-width:1200px){
    .movieContainer{
        display: grid;
        grid-template-columns: repeat(4, 250px);
        grid-template-rows: auto;
    }
}
@media screen and (max-width:900px){
    .movieContainer{
        display: grid;
        grid-template-columns: repeat(3, 250px);
        grid-template-rows: auto;
    }
}
@media screen and (max-width:650px){
    .movieContainer{
        display: grid;
        grid-template-columns: repeat(2, 250px);
        grid-template-rows: auto;
    }
}
@media screen and (max-width:500px){
    .movieContainer{
        display: grid;
        grid-template-columns: 250px;
        grid-template-rows: auto;
    }
}